/* FONTE DAS LETRAS DO SITE */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
}

/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Cabeçalho */
header {
    display: flex;
    justify-content: space-between; /* Distribui espaço entre logo e navegação */
    align-items: center; /* Centraliza itens verticalmente */
    padding: 0 20px;
    background-color: #f0f0f0; /* Fundo do cabeçalho */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra para destaque */
    height: 60px;
}

#LOGO img {
    width: 100px; /* Tamanho da logo */
    height: auto;
}

#check

nav {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px; /* Espaçamento entre os itens */
}

nav ul li a {
    text-decoration: none;
    font-size: 16px;
    color: #333;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #a9a9a9; /* Cor no hover */
}

/* Container */
.container {
    margin: 0 auto;
    padding: 20px;
    max-width: 1140px;
}

/* Link para o topo */
#topo {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
}

#topo img {
    width: 100%;
    height: auto;
}

/* Responsividade */
@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}
