/*
Teste   se ta linkando 
*/


/* 

*/
@media(min-width: 576px){
    body{
        background-color: #0ff;
    }

}

@media(min-width: 768px){
    body{
        background-color: #000f;
    }

}


@media(min-width: 992px){
    body{
        background-color: rgb(228, 25, 25);
    }

}